.idea
.ipynb_checkpoints
__pycache__
build/
dist/
*.egg-info/
/notebooks/*.nc
/notebooks/*.csv
/notebooks/*.cnv
/notebooks/*.png
/pycurrents
.DS_Store

.vscode/launch.json

.vscode/settings.json
/**/local_tests/*
/tests/**/*_test.nc
pdc-amundsen-conversion.log

tests/parsers_test_files/amundsen/12713/**/*
output/
site/**
docs/read/**/*-hook.md
*.log
file_registry.csv
temp/**
tests/test_file_registry_temp.csv

temp/**
*.log
.env
docs/notebooks/*.ipynb
