recursive-include ocean_data_parser/read/vocabularies *
include ocean_data_parser/read/odf/config.json 
recursive-include ocean_data_parser/read/odf/references *
recursive-include ocean_data_parser/read/odf/references/geographical_areas *